@media (max-width: 1260px) {
    .sobre-conteudo {
        padding: 5rem 0;
    }

    .foto {
        height: 100%;
    }

    .estatisticas {
        gap: 3rem;
    }

    .containerCatalogo, .containerPerfuracoes, .caixas-localEhorario {
        justify-content: space-between;
    }

    .mapa {
        width: 100%;
    }

    .caixaCatalogo, .caixaPerfuracoes, .caixa {
        width: 45%;
    }
}

@media (max-width: 800px) {
    .caixas-localEhorario {
        flex-direction: column;
        gap: 0;
    }

    .caixa {
        width: 100%;
        margin: 3rem 0;
    }

    .mapa {
        width: 100%;
    }
}

@media (max-width: 775px) {
    .sobre-conteudo {
        flex-direction: column;
    }

    .sobre-esquerda {
        width: 100%;
        height: 50rem;
        margin-bottom: 4rem;
    }

    .sobre-direita {
        width: 100%;
    }

    .estatisticas {
        gap: 6rem;
    }

    .containerCatalogo, .containerPerfuracoes {
        flex-direction: column;
        gap: 4rem;
    }

    .caixaCatalogo, .caixaPerfuracoes {
        width: 100%;
    }

    .caixaPerfuracoes {
        height: 35rem;
    }

    .imgCatalogo {
        height: 20rem;
        object-fit: cover;
    }

}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }

    .logo-estudio {
        width: 30rem;
    }

    .heroConteudo h1 {
        font-size: 2.2rem;
    }

    .botoes a {
        font-size: 1.2rem;
    }

    .botoes a img {
        height: 1.4rem;
    }

    .local-perfuracoes h2 {
        font-size: 2.5rem;
    }

    .local-perfuracoes img {
        width: 30rem;
    }

    .containerFooter {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .caixaFooter {
        width: 100%;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 50%;
    }

    .estatisticas {
        gap: 4rem;
    }

    .numero {
        font-size: 2.5rem;
    }

    .descricao {
        font-size: 1.5rem;
    }
}